body {
    background: #1a1a1a;
    color: white;
    text-align: center;
    font-family: Arial;
}

#menu {
    background: #222;
    padding: 10px;
}

#menu button {
    margin: 5px;
    padding: 10px 20px;
    background: #ffa500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.screen {
    display: none;
    padding: 20px;
}

.screen:not(.hidden) {
    display: block;
}

#hero {
    width: 260px;
    margin: 20px auto;
    border-radius: 20px;
}

.shopBox {
    background: #333;
    padding: 15px;
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    background: #00c853;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
